.imgHtml{
    widows: 10px;
    height: auto;
    margin: 20px;
    padding: 10px;
}
.destacados{
    margin: 20px;
    padding: 10px;
    grid-gap: 7px; /*tamaño entre los huecos de las filas*/
}
.imgflia{
    text-align: center;
    widows: 100px;
    height: auto;
}
